alabaster==0.7.12
argh==0.26.2
attrs==19.1.0
Babel==2.7.0
beautifulsoup4==4.8.0
bidict==0.21.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
commonmark==0.9.0
dnspython==1.16.0
docutils==0.15.2
Flask==1.1.2
Flask-Script==2.0.6
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.5.1
future==0.17.1
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
monotonic==1.5
numpy==1.20.1
pandas==1.2.3
PyMySQL==1.0.2
python-dateutil==2.8.1
python-engineio==4.0.1
python-socketio==5.1.0
pytz==2019.1
requests==2.25.1
schedule==1.0.0
six==1.12.0
soupsieve==1.9.2
SQLAlchemy==1.4.3
urllib3==1.26.4
Werkzeug==1.0.1
